<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @email %>,</p>

		<p>Welcome to Divorcioo!</p>

		<p>You have been invited by @inviter to join @Relationship</p>

		<p><%= @msg %></p>

		<p><a href="#">Click here to register with your email</a></p>

		<p>Thank your for your support.</p>

		<p>Regard, <br />Divorcioo Team</p>
  </body>
</html>