<%= bootstrap_form_for @organisation do |form| %>
    <%= form.hidden_field :user_id, value: @current_user_id %>
    <%= form.text_field :name %>
    
    <div class="actions">
      <%= form.submit "Create New Marriage", class: "btn btn-primary"%>
    </div>
<% end %>
